# Auto normalize line endings
* text=auto

# Explicitly define line endings
*.c     text eol=lf
*.cpp   text eol=lf
*.h     text eol=lf
*.sql   text eol=lf
*.md    text eol=lf

# Keep binary files untouched
*.exe   binary
*.o     binary
*.db    binary